body{
    background: black;
    color: white;
    font-family: Arial;
    text-align: center;
}

h1{
    color: gold;
    margin-top: 30px;
}

.product{
    background: #111;
    width: 250px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px gold;
}

img{
    width: 200px;
    border-radius: 10px;
}

button{
    background: gold;
    color: black;
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
    font-weight: bold;
}
button {
    background: gold;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}
